<div class='col-md-12'>
  <h2>
    <%= @registered_app.name %> - <%= link_to @registered_app.url %>
    <div class='pull-right'>
      <%= link_to "Edit", edit_registered_app_path %>
      <%= link_to "Delete", "#" %>
    </div>
  </h2>
  <div>
    <h3>Analytics go here</h3>
    <% @events.each do |event, name| %>
      <div class='col-md-3'>
        <h4>Event: <%= event %></h4>
        <p>Count: <%= name.count %></p>
      </div>
    <% end %>
  </div>
</div>
