<div class='col-md-12'>
  <h2>
    <%= @registered_app.name %> - <%= link_to @registered_app.url %>
    <div class='pull-right'>
      <%= link_to "Edit", edit_registered_app_path %>
      <%= link_to "Delete", "#" %>
    </div>
  </h2>
  <div>
    <h3>Analytics</h3>
    <div class='col-md-6'>
      <h4>Events:</h4>
      <p><%= pie_chart @registered_app.events.group(:name).count %></p>
    </div>
    <div class='col-md-6'>
      <h4>Events over time:</h4>
      <p><%= line_chart @registered_app.events.group_by_day(:created_at).count %></p>
    </div>
  </div>
</div>
