<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-toggleable-md navbar-inverse bg-primary'>
  <div class='collapse navbar-collapse'>
    <div class='navbar-nav box'>
      <%= link_to "Blocmetrics", root_path, class: 'navbar-brand' %>
      <%= link_to "Home", root_path, class: 'nav-item nav-link' %>
      <% if current_user %>
        <%= link_to "Sign Out", destroy_user_session_path, class: 'nav-item nav-link pull-right' %>
      <% else %>
        <div class='pull-right'>
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-item nav-link' %> or <%= link_to "Sign In", new_user_session_path, class: 'nav-item nav-link' %>
        </div>      
      <% end %>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
